.productCard {
    max-width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px #151515;
    transition: all .3s;
    cursor: pointer;
    margin: 20px;
}

.productCard:hover {
    transform: translateY(-20px);
}

.productCard > img {
    width: 100%;
}

.productCard > h4 {
    color: #191514;
    font-size: 17px;
    font-family: "Teko";
    margin-top: 1em;
}

.productCard > span {
    color: #d5a353;
    font-family: "IBM Plex Serif";
    font-size: 20px;
    margin: 1em 0;
}